*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.5rem;
}

.nav-button{
  width: 33%;
}

ul{
  padding: 0;
  text-align: center;
}

ul li{
  display: inline;
  padding: 0 10rem;
}

a{
  text-decoration: none;
  color: #fff;
}

.tabs {
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 74px;
  z-index: 10003;
  font-size: 1.5rem;
}

.event {
  color: #4A4A4A;
  height: 74px;
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 2rem;
}

.students {
  color: #4A4A4A;
  height: 74px;
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 2rem;
}

.info {
  color: #4A4A4A;
  height: 74px;
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 2rem;
}

/* event tab styles */

.landing {
  display: inline-block;
  width: 100%;
  height: 130rem;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/greenlane-bg.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center;

  text-align: center;
}

.intro {
  width: 100%;
  color: #fff;
  text-align: center;
}

.intro p {
  font-size: 1.8rem;
}

@media (max-width: 750px) {
  .landing {
    height: 80rem;
  }
}

.rsvp {
  display: inline-block;
  height: 6.4rem;
  width: 100%;
  padding: 2rem;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  outline: 0.5rem solid #fff;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 30rem;
}

.rsvp:hover {
  color: #4A4A4A;
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

@media (max-width: 600px) {
  .rsvp {
    margin-top: 10rem;
    width: 25rem;
  }
}

.reminder {
  color: #fff;
  text-align: center;
  margin-top: 10rem;
}

.reminder p {
  font-size: 2.1rem;
}

.header {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.student {
  background: #fff;
  height: 33rem;
  margin-top: 1rem;
}

.student h6 {
  text-align: center;
  margin: 1rem 0 0 0;
}

.student-thumb {
  background: #ededed;
  height: 26rem;
}


.info-button {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 2rem;
  color: #4A4A4A;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  outline: 0.5rem solid #4A4A4A;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 3rem;
}

.info-button a {
  color: #000;
}

.info-button:hover {
  background: #EAE7DC;
  transition: all 300ms ease-in-out;
  outline: 0.5rem solid #000;
}
