*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #ecf0f1;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.5rem;
}

.nav-button{
  width: 33%;
}

ul{
  padding: 0;
  text-align: center;
}

ul li{
  display: inline;
  padding: 0 10rem;
}

a{
  text-decoration: none;
}

.tabs {
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 74px;
  z-index: 10003;
  font-size: 1.5rem;
}

.event {
  color: #4A4A4A;
  height: 74px;
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 2rem;
}

.students {
  color: #4A4A4A;
  height: 74px;
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 2rem;
}

.info {
  color: #4A4A4A;
  height: 74px;
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 2rem;
}
